body{ 
         border-style:     none;
         border-color:     darkgreen;
}
p{
         border-style:     none;
         border-color:     royalblue;
}
h1{
         border-style:     none;
         border-color:     salmon;
}