body{
background-color: red
}
a:link{
     background-color: green;
}
a:visited{
     background-color: red;     
}
a:active{
     background-color: orange;
}
a:hover{
     background-color: yellow;
}
ol{
   list-style-type:katakana-iroha;
   font-size: 25px;
}
#prvi{
background-color: green;
}
.ispada{
background-color: red;
}
#prvidiv{
border:4px solid green;
height:500px;
width: 900px;
}
#drugidiv{
border:3px solid blue;
height:150px;
width: 150px;
position: fixed;
right:150px;
top:250px;
}